body {
  width: 100%;
  background-image: linear-gradient(to right, #870000, #190a05);
}
.header {
  margin: 3% auto;
  width: 450px;
}

footer {
  margin: 50px;
}

footer #signature a {
  color: white;
}
footer #signature {
  padding-top: 20px;
  text-align: center;
  opacity: 50%;
  text-decoration: inherit;
  color: white;
}
h1,
h2,
h3,
h4,
p,
td {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h2 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  text-align: center;
}
h2 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: lighter;
}
h3 {
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: lighter;
  font-size: 1.5rem;
  opacity: 25%;
}
.data-div p {
  margin: 40px;
  font-size: 1.1rem;
  font-weight: 400;
}

span.data {
  margin-left: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.25rem;
  text-align: right;
  color: #1688d4;
}
#search-form {
  margin: 50px 0px 0px 0px;
  display: flex;
}
#player {
  font-style: inherit;
  background-color: white;
}
#search-btn {
  background-color: #1e90ff;
  color: black;
  padding: 0px 25px;
  border: none;
  font-weight: bolder;
  border-radius: 3px;
}
#search-btn:hover {
  cursor: pointer;
  transition: 100ms;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 75%;
  justify-content: center;
}
#card {
  background-image: linear-gradient(to right, #141e30, #243b55);
  width: 400px;
  height: auto;
  border-radius: 20px;
  margin: 25px;
  padding-bottom: 20px;
}

#card:hover {
  background-color: #323541;
  transition: 300ms;
}
.card-header {
  padding: 0px 40px;
}
#player {
  width: 200px;
  height: 40px;
  margin-right: 10px;
  padding-left: 5px;
  border: none;
  border-radius: 3px;
}
.close-btn {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}
.icon {
  padding: 10px;
  width: 16px;
}
.icon:hover {
  background-color: #444753;
  border-radius: 10px;
  cursor: pointer;
  transition: 250ms;
}
hr {
  border-color: #1688d4;
  margin: 25px auto;
  width: 80%;
  display: flex;
}
